<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>

    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> aa@aaa.com</li>
                                <li>aaaa</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="/static/img/language.png" alt="">
                                <div>EN</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">TR</a></li>
                                    <li><a href="#">EN</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="/static/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">AnaSayfa</a></li>
                            <li><a href="./shop-grid.html">List</a></li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">İletişim</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>




    <div class="container-fluid">
        <div><h2>Yapılacaklar</h2></div>
        <form action="{{ url_for('add_todo') }}" method="POST" role="form">
			<div class="form-group">
			    <div class="input-group">
                    <input name="new-todo" type="text" class="form-control" placeholder="Plan olustur" aria-label="Todo" aria-describedby="add-btn">
					    <span class="input-group-btn">
						    <button type="submit" class="btn btn-warning" id="add-btn">Ekle</button>
					    </span>
				</div>
			</div>
        </form>

        <div class="row t10">
						<div class="col-lg-12">
							<div class="btn-toolbar">
								<div class="btn-group">
									<a type="button" href="{{ url_for('delete_completed') }}" class="btn btn-warning">
										Silme
									</a>
								</div>
								<div class="btn-group">
									<a type="button" href="{{ url_for('delete_all') }}" class="btn btn-warning">
										tümünü sil
									</a>
								</div>
							</div>
						</div>
            <!-- ****************************-->
            <ul class="list-group t20">
						{% for todo in todos %}
						<a href="{{ url_for('complete', oid=todo._id )}}">
							<li class="list-group-item {% if todo.complete %}todo-completed{% endif %}">
								{{ todo.text }}
							</li>
						</a>
						{% endfor %}
            </ul>
            <!-- ****************************-->


        </div>


    </div>



	<!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="/static/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Adres: Istanbul</li>
                            <li>Phone: +90 555 44 33 22</li>
                            <li>Email: aa@aaa.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Faydali Linkler</h6>
                        <ul>
                            <li><a href="#">Biz Kimiz</a></li>
                            <li><a href="#">Hizmetlerimiz</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">İletişim</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>En Yeniler/h6>
                        <p>Email ile bize ulaşın</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Abonelik</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
							<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  							Copyright &copy;
								<script>document.write(new Date().getFullYear());
								</script> Tün Hkları saklıdır
								<i class="fa fa-heart" aria-hidden="true"></i> by
								<a href="https://colorlib.com" target="_blank">Colorlib</a>
  					<!--  --></p>
						</div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


<!-- Js Plugins -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/mixitup.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>

</body>
</html>